*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
}

.navbar {
     height:60px;
    display:flex;
    background-color:#0f1111;
    color: white;
}
.nav-logo{
     height:50px;
     width: 100px;

}
.logo{
     background-image: url("amazon_logo.png");
     height:50px;
     background-size: cover;
     width:100%;
}
.border{
     border: 1.5px solid transparent;
}
.border:hover{
     border: 1.5px solid white;
}